.navbar {
    margin-bottom: 0;
    background-color: black;
   
    z-index: 9999;
    border: 0.002;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: white !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color:  #262626!important;
    background-color:  #f2f2f2 !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #000 !important;
}
@media screen and (min-width: 480px) {
   .nav {
         margin-left: 50px; 
    /*  text-align: center; */
    }
}

 
 
 

.slideanim {visibility:hidden;}
.slide {
 
    animation-name: slide;
    -webkit-animation-name: slide; 
 
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    
    visibility: visible; 
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
} 